<div class="card border-light mb-6" >
    <div class="card-header">Agent Search</div>
    <div class="card-body">
        <form class= "form-inline">
            <div class="form-group">
                <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="selectLicenseType">
                  <option>LAH</option>
                  <option>LL</option>
                  <option>PC</option>
                  <option>PNEED</option>
                </select>
                <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" placeholder="City">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
    <div class="card-body">
        <table id="example" class="table table-striped table-bordered table-sm table-hover" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">License</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">LAH</td>
                    <td class="text-left">Joseph</td>
                    <td class="text-left">Edinburgh</td>
                    <td class="text-left">Austin</td>
                    <td class="text-left">Family Heritage</td>
                    <td class="text-center">512-256-8765</td>
                </tr>
                <tr>
                    <td class="text-center">LAH</td>
                    <td class="text-left">Larry</td>
                    <td class="text-left">Maxwell</td>
                    <td class="text-left">San Antonio</td>
                    <td class="text-left">American Family</td>
                    <td class="text-center">512-256-1211</td>
                </tr>
                <tr>
                    <td class="text-center">PC</td>
                    <td class="text-left">Keisha</td>
                    <td class="text-left">Williams</td>
                    <td class="text-left">Pflugerville</td>
                    <td class="text-left">Farmers</td>
                    <td class="text-center">512-556-8225</td>
                </tr>
                <tr>
                    <td class="text-center">PNEED</td>
                    <td class="text-left">Laura</td>
                    <td class="text-left">Conner</td>
                    <td class="text-left">Austin</td>
                    <td class="text-left">Primerica Financial Services</td>
                    <td class="text-center">512-256-1211</td>
                </tr>
                <tr>
                    <td class="text-center">LAH</td>
                    <td class="text-left">Joseph</td>
                    <td class="text-left">Edinburgh</td>
                    <td class="text-left">Austin</td>
                    <td class="text-left">Family Heritage</td>
                    <td class="text-center">512-256-8765</td>
                </tr>
                <tr>
                    <td class="text-center">LAH</td>
                    <td class="text-left">Larry</td>
                    <td class="text-left">Maxwell</td>
                    <td class="text-left">San Antonio</td>
                    <td class="text-left">American Family</td>
                    <td class="text-center">512-256-1211</td>
                </tr>
                <tr>
                    <td class="text-center">PC</td>
                    <td class="text-left">Keisha</td>
                    <td class="text-left">Williams</td>
                    <td class="text-left">Pflugerville</td>
                    <td class="text-left">Farmers</td>
                    <td class="text-center">512-556-8225</td>
                </tr>
                <tr>
                    <td class="text-center">PNEED</td>
                    <td class="text-left">Laura</td>
                    <td class="text-left">Conner</td>
                    <td class="text-left">Austin</td>
                    <td class="text-left">Primerica Financial Services</td>
                    <td class="text-center">512-256-1211</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
